<div class="content">

    <h1>Coding Challenge</h1>

    <p>Skill</p>

    <p>Coding Challenge: Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur eveniet voluptates et odit
        mollitia fugit, dolor a assumenda eius maxime itaque illum rerum nesciunt error animi quisquam magni. Ad, dolor.
    </p>

    <p>Requirements</p>

    <ul>
        <li>requirement #1</li>
        <li>requirement #2</li>
        <li>requirement #3</li>
    </ul>

    <button>Finish Interview</button>
    <button>See Suggested Answers</button>
    <button routerLink="/interviews">Finish Interview</button>

</div>