<div class="content">

    <h1>Introduction</h1>

    <section class="question first">
        <p>This is the first question</p>
        <textarea name="first" id="first" cols="30" rows="10"></textarea>
    </section>

    <section class="question second">
        <p>This is the second question</p>
        <textarea name="second" id="second" cols="30" rows="10"></textarea>
    </section>

    <section class="question third">
        <p>This is the third question</p>
        <textarea name="third" id="third" cols="30" rows="10"></textarea>
    </section>

    <section class="question fourth">
        <p>This is the fourth question</p>
        <textarea name="fourth" id="fourth" cols="30" rows="10"></textarea>
    </section>

    <div class="next-btn-container">
        <button>Finish Interview</button>
        <button>See Suggested Answers</button>

        <button routerLink="/technical">Technical Interview</button>
    </div>
</div>